.tikets-background {
  margin-bottom: 40px;
  width: 100%;
  max-width: 1217px;
  img {
    width: 100%;
  }
}

.img-destinations {
  border-radius: 20px 0px 0px 20px;
  float: left;
  max-width: 700px;
}

.description-destination {
  background-color: $light;
  float: left;
  height: 430px;
  //adding: 20px 80px 20px 40px;
  width: 100%;
  max-width: 700px;
  @media (min-width: 1305px) {
    width: 380px;
  }
}

.description-destination h2,
.description-destination p {
  margin-bottom: 80px;
  margin-left: 4%;
  margin-right: 4%;
}

.description-destination button {
  float: right;
  margin-right: 4%;
}
